---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "My diary of Code";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My Journey as a Software Developer</h2>
<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"," Nǐ hǎo","Bonjour","Kon’nichiwa","Ciao","S̄wạs̄dī", "xin chào "]} />
</BaseLayout>